body{
  font-family: 'Raleway', sans-serif;
}

.big-banner{
    background-image: url('../img/dd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1520px;
    margin: 0 auto;
    border-top: 5px solid #0a69b3;
}

#my-navigation{
    background: none;
    border: 0;
    color: #fff;

}

#my-navigation a{
  color: #fff;
  font-size: 17px;
}

.banner{
  padding: 125px 0;
    text-align: center;
    color: white;
  
}

.banner h2{
  font-weight: 100;
  font-size: 45px;
}

.banner p{
  font-size: 13px;
    font-weight: 100;
}


/* body 1 */

.body1 {
  max-width: 1520px;
  margin: 0 auto;
}

.three {
  width: 80%;
  margin: 0 auto;
  padding: 65px 0;
  display: flex;
  justify-content: space-evenly;

}

.part0 {
  padding: 0 40px;
  width: 25%;
}

.part0 p {
  font-size: 15px;
  color: #808080b3;
  line-height: 26px;
}

.part0 h4 {
  font-weight: 400;
  font-size: 20px;
  color: #5385c1;
}

/* button */

.blue {
  margin-top: 15px;
  width: 85px;
  height: 40px;
  border: none;
  background: hsl(213deg 47% 54%);
  color: white;
}

.border {
  border-right: 2px solid gainsboro;
}

/* body 2 */

.body2 {
  max-width: 1520px;
  margin: 0 auto;
  padding: 105px 0;
  color: white;
  background-color: hsl(213deg 47% 54%);
}

.four {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.para {
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  margin-bottom: 45px;
}

.body2 h3 {
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  margin: 0;
}

.part1 {
  width: 18%;
  border: 2px solid gainsboro;
  margin-left: 34px;
  padding: 15px 5px;
  text-align: center;
  margin-top: 20px;

}

.part1 img {
  border-radius: 50%;
  width: 75%;
}

.part1 p {
  font-weight: 100;
  margin-top: 0;
}

.part1 h4 {
  font-size: 20px;
  font-weight: 300;
}

/* body3 */


.body3 {
  max-width: 1520px;
  margin: 0 auto;
  text-align: center;
}

.two {
  width: 75%;
  margin: 0 auto;
  padding: 80px 0;
}

.body3 h3 {
  font-size: 35px;
  color: hsl(213deg 47% 54%);
  font-weight: 200;
  text-align: center;
  margin: 0;
}

.para2 {
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.part2 {
  width: 47%;
  text-align: left;
  margin-top: 40px;
}

.part2 img {
  width: 100%;
}


.part2 h4 {
  font-weight: 400;
  font-size: 16px;
  color: #5385c1;
}

.part2 p {
  font-size: 14px;
  color: #808080b3;
  line-height: 22px;
}

/* footer */

footer{
  max-width: 1520px;
  margin: 0 auto;
}

.footer {
  width: 75%;
  margin: 0 auto;
}

.footer hr {
  max-width: 1520px;
  margin: 0 auto;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.footer .p {
  width: 45%;

}

.icon {
  margin: 15px 0 0 0;
}

.footer a {
  color: hsl(213deg 47% 54%);
  margin: 0 5px 0 0;
}

@media only screen and (max-width:950px) {
  .three {
    display: block;
  }

  .part0 {
    width: 100%;
    border: none;
  }

  .wrap {
    display: block;
  }

  .part2 {
    width: 100%;
  }

  .part1 {
    width: 50%;
  }
}

@media only screen and (max-width:700px) {
  .banner h1 {
    font-size: 35px;
  }

  .banner p {
    font-size: 10px;
  }

  .body3 h3 {
    font-size: 30px;
  }

  .para2 {
    font-size: 12px;
  }

  .four {
    display: block;
    text-align: center;
  }

  .part1 {
    width: 30%;
    margin: 30px auto;
    border-radius: 100%;
    padding: 20px 50px;
  }
}